<li class="tree-item">
    {% if item.children %}
        <span class="tree-toggle"></span>
    {% else %}
        <span style="display: inline-block; width: 20px;"></span>
    {% endif %}
    <a href="{{ url_for('entity.entity', name=item.label) }}" class="tree-label">
        {{ item.label }}
    </a>
    {% if item.children %}
        <ul class="tree-children">
            {% for child in item.children %}
                {% set item = child %}
                {% include 'tree_node.html' %}
            {% endfor %}
        </ul>
    {% endif %}
</li>
